.divContactIMG {
  background-image: url(../../contactLogo.png);
  /* background-color: rgb(45, 54, 65); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height: 70px;
}
.divGarantexIMG {
  background-image: url(../../garantex1.png);
  background-color: #262d34;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height: 40px;
}
.containerGarantexTable {
  display: flex;
  justify-content: space-between;
}
.statistics {
  justify-content: center;
  text-align: center;
  display: flex;
}
