@import-normalize; /* bring in normalize.css styles */
body {
  margin: 0;
  background-image: linear-gradient(
    to right,
    rgba(80, 80, 80, 0.616),
    rgba(138, 85, 15, 0.445)
  );
  background-color: rgb(231, 236, 242);
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
li {
  list-style: none;
}
